.imagenesJ{
  width: 180px;
}

img:hover {
    box-shadow: rgba(237, 226, 226, 0.404) 10px 10px 36px 10px;
  }
#recuadroImagenes{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0px 0px 5px 85px;
    background-color:#508a82e3;
}

#recuadroInfo{
    display: grid;
    background-color: #31975370;
    margin: 0px 15px 0px 110px;
    gap: 20px;
	  padding: 10px;
}
.tarjeta1,.tarjeta2,.tarjeta3,.tarjeta4,.tarjeta5 {
    background-color: #915a3ca9;
    border: 1px solid rgba(138, 190, 176, 0.478);
    margin: 25px;
    padding: 20px 10px 10px 10px;
    align-content: center;
    font-size: 20px;
    cursor: pointer; 
    text-align: center;
    vertical-align: bottom;
    letter-spacing: 1px;
}
#planta1,#planta2,#planta3,#planta4,#planta5 {
	  background-color: #fcfbfab5;
    border: 1px solid rgba(255, 255, 255, 0.575);
    padding: 20px;
    text-align: justify;
    letter-spacing: 1px;
    color: rgb(5, 55, 41);
}

#recuadroImagenes a:hover {
    color: rgb(2, 67, 49);
  }

.listaJ{
    list-style: square inside url("/img/cactusICO.ico");
}
.listaJ2{
  list-style: square inside url("/img/plant.ico");
}
.listaJ3{
  list-style: square inside url("/img/leaf.ico");
}
