#recuadroInicial{
    display: grid;
    gap: 50px;
    margin: 10px 20px 10px 80px;
    background-color:rgba(79, 137, 28, 0.416);
    grid-template-columns: auto auto auto;

}

#tarjeta1,#tarjeta2,#tarjeta3,#tarjeta4,#tarjeta5,#tarjeta6{
    background-color: rgba(79, 137, 28, 0.8);
    border: 1px solid rgb(255, 255, 255);
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    
}
#recuadroInfo{
    background-color:rgba(79, 137, 28, 0.242);
    margin: 10px 20px 10px 80px;
    gap: 50px;
    display: inline-flexbox;
    text-align: center;
}
#planta1,#planta2,#planta3,#planta4,#planta5,#planta6{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    

}
/*transition: width 2s, height 4s;
div:hover {
    width: 300px;
    height: 300px;
  }
/*#planta1,#planta2,#planta3,#planta4,#planta5,#planta6:hover {
    width: 300px;
    height: 300px;
  }*/
  
